body {
    background-color: black;
    text-align: center; /* 중앙 정렬 */
}

img {
    display: block; /* 한 줄에 하나만 나올 수 있게 */
    margin: auto;
}

button {
    outline: none;
    background-color: tomato;
    color: white;
    font-size: 32px;
    margin: 16px 0;
    cursor: pointer;
}